/* signup.ejs */
* {
  box-sizing: border-box;
}
body {
  background: url(img/black_ribbon.jpeg)no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
}
h1, label, p, a {
  color: white;
}

.container{
  margin-right: 30%;
}

/* header */
h1 {
    border-bottom: 1px solid white;
    font-size: 50px;
    font-family: 'Bree Serif', serif;
    font-family: 'Courgette', cursive;
    color: white;
}

/* login button */
.btn-warning {
  background-color: white;
  border-color: white;
}
.btn-lg {
  color: black;
}
a {
  border-bottom: 1px solid white;
}
